BasedOnStyle: Google
ColumnLimit: 100

#Indents
IndentWidth: 2
ContinuationIndentWidth: 4
UseTab: Never
AlwaysBreakTemplateDeclarations: 'Yes'

# Braces and Parentheses
AlignAfterOpenBracket: BlockIndent
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements

#Includes
SortIncludes: true
IncludeBlocks: Regroup

#Pointers
PointerAlignment: Left

#Comments
SpacesBeforeTrailingComments: 2

#Empty Lines
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1

#Bin Packing
BinPackArguments: true
BinPackParameters: true
